
.plan__section__container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
}
.plan__section{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2%;
}
.plan__card__container{
    width: 90%;
    height: 300px;
    margin-bottom: 2%;
}
.plan__section__button{
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #fff;
    color: #005a8a;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px #005a8a solid;
    width: 80%;
    align-self: center;
}

@media screen and (min-width: 900px) {
    .plan__section{
        
        flex-direction: row;
        
    }
    .plan__card__container{
    width: 20%;
    height: 300px;
    margin-bottom: 2%;
}
.plan__section__button{
    width: 10%;
}
}