* {
    margin: 0;
    padding: 0;
}

.plan__details {
    width: 90vw;
    margin: auto;
    margin-top: 5rem;
}

.plan__details h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.plan__details p {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.details__table tbody tr th {
    width: 20%;
}

.plan__description ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;
}

.plan__description h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 0;
}

.whats__included__box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (min-width:900px) {

    .plan__details {
        width: 90%;
        margin: auto;
        margin-top: 5rem;
    }

    .plan__details h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .plan__details p {
        max-width: 50%;
        font-size: 1rem;
    }

    .details__table tbody tr th {
        width: 20%;
    }

    .whats__included__box {
        flex-direction: row;
    }



}