* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

.logo__img {
    width: 16%;
}
.logo__img:hover{
    cursor: pointer;
}
.logo__text{
    color:#005a8a;
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Oswald', Courier, monospace;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 0 30px;
    height: 80px;
    margin-bottom: 2rem;
}

.menu__nav {
    display: none;
}

.social__media__container {
    display: flex;
    gap: 20px;
    height: 100%;
    border-radius: 0 0 1rem 1rem;

}


.social__media__container div {
    height: 100%;
    background-color: #bbbbbb;
    display: flex;
    align-items: flex-end;
    padding: 0 5px 10px;
    transition: background-color 0.3s ease;
    border-radius: 0 0 1rem 1rem;
}

.social__media__container div:hover{
    cursor: pointer;
    background-color: #005a8a;

}
.social__media__container img {

    width: 30px;

}

.option__selected__text{
    color: #fff;
    text-decoration: none;
}
.option__selected__text:hover{

    text-decoration: none;
    color: #fff;
}

@media screen and (min-width: 450px) {
    .logo__img {
        display: none;
    }

    .social__media__container {
        display: none;

    }
}

@media screen and (min-width: 700px) {

    .menu__nav {
        display: flex;
        height: 100%;
    }

    .menu__nav ul {
        display: flex;
        list-style: none;
        gap: 2rem;
        align-items: baseline;
        height: 100%;
    }

    .menu__nav ul p {
        font-size: 0.8rem;
        font-weight: 600;
        color: #9c9c9c;
    }

    .menu__nav ul div a {
        text-decoration: none;
        font-weight: 500;
    }

    .menu_option {
        color: #000;
        border: none;
        background-color: #fff;
    }

    .menu__nav ul div {
        display: flex;
        flex-direction: column;
        width: 140px;
        justify-content: flex-end;
        height: 100%;
        text-align: center;
    }

    .option__selected {
        background-color: #005a8a;
        border-radius: 0 0 10px 10px;

    }



}

@media screen and (min-width: 900px) {
    .logo__img {
        display: block;
        width: auto;
        max-height: 90%;
    }

    .social__media__container {
        display: flex;
        gap: 20px;
        height: 100%;
        border-radius: 0 0 1rem 1rem;
    }

    .option__selected_text{
        color: #000;

    }

}